@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto";
}

.hidden {
    display: none;
}

img {
    width: 250px;
    margin-bottom: 10px;
    display: block;
    border-radius: 10px;
    border: 2px solid #000;
}
section, footer {
    margin: 50px;
    padding: 10px;
}

footer ul li {
    list-style: none;
}